<div class="genre" *ngFor="let genre of genres">
  <div class="genreIn">
    <div class="titleGenre"> {{genre.name}}</div>
    <div class="contentGenre">

      <div class="songs">
        <ng-container *ngFor="let song of songs" >
          <div *ngIf="song.genre==genre.name">
            <div class="image">
              <img [src]="song.base64| safeUrl" alt="" />
            </div>
            <div class=" songsTitle">
              <span class="title">{{song.title}}</span>
              <span class="artist">{{song.artist}}</span>
            </div>

          </div>
        </ng-container>
      </div>

    </div>
  </div>

</div>