.wrapper {
  width: 100%;
  display: flex;
  margin-top: 20px;
  align-content: center;
  justify-content: center;

  .content {
    width: 60%;
    height: auto;
    display: flex;
    margin: 0 20px;
    border-radius: 8px;
    border-radius: 7px;   
    flex-wrap: wrap;
    background: #fc5130;
    padding: 20px 0 20px 20px;

    .artist,
    div {
      width: 18%;
      height: 200px;
      display: flex;
      margin: 5px 5px 40px 5px;
      flex-flow: column;
      align-content: center;
      justify-content: center;
      color: #fffaff;
      h1 {
        text-align: center;
      }

      img {
        min-height: 100%;
        min-width: 100%;
        border-radius: 8px;
        cursor: pointer;
      }
      span {
        margin-top: 6px;
        font-weight: lighter;
        text-align: center;
        font-size: 14px;
      }
    }
  }
}
